body{
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
    width: 700px;
}
h1{
    text-align: center;
    padding: auto;
    margin: auto;
}
article{
    width: 75%;
    background-color: coral;
    padding: 0.3em ;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.seats{
    border: solid rgb(84, 39, 136);
}
div{
    display: block;
}
.Available{
    background-color:  gray;
}
.Selected{
    background-color: rgb(9, 138, 9);
}
.Occupied{
    background-color: red ;

}
table{
    text-align: center;
}
input[type="checkbox"]:before {
    content=""
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: center;
    background-color: gray;

}
input[type="checkbox"]:checked:after {
    background-color: green;

}